// Footer
.footer {
  color: white;
  background: #04041a;
  padding-bottom: 6rem;

  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;

    &--icon {
      width: 20px;
      height: auto;
    }

    &--logo {
      width: auto;
      height: 32px;
    }
  }

  &__contact {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 640px;
    margin: 0 auto 8rem;
    display: flex;
    justify-content: space-around;

    li {
      text-align: center;
    }

    h3 {
      font-size: 0.875rem;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: 4px;
      margin-bottom: 1rem;
      opacity: 0.75;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 1.125rem;
      line-height: 1;
    }
  }

  &__bottom {
    color: rgba(255, 255, 255, 0.5);

    ul {
      margin: 0 0 1rem;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
    }

    li + li {
      margin-left: 1.5rem;
    }
  }
}
