.menu {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 1.5rem 0;
  z-index: 1000;

  a {
    color: white;
    text-decoration: none;
  }

  &__wrap {
    line-height: 1.5;
  }

  &__logo {
    img {
      max-height: 24px;
    }
  }

  &__lang {
    font-size: 1.5rem;
    line-height: 1;
  }
}
