.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  background: black;
  overflow: hidden;

  &__text {
    position: relative;
    z-index: 2;

    h1 {
      font-size: 5rem;
      font-weight: bold;
      line-height: 1.125;
      letter-spacing: -2px;
      margin-top: 9rem;
      margin-bottom: 2rem;

      @media (min-width: 768px) {
        font-size: 6rem;
      }

      @media (min-width: 1200px) {
        font-size: 7rem;
      }
      @media (min-width: 1600px) {
        font-size: 10rem;
      }
    }
  
    p {
      font-size: 1.25rem;
      line-height: 1.5;
      max-width: 560px;
      @media (min-width: 1600px) {
        font-size: 3rem;
      }
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: 1;

    background: transparent url(../images/bg-hero.jpg) center no-repeat;
    background-size: cover;
  
    mask-image: url(../images/mask.svg);
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%;
    z-index: 0;

    video {
      position: relative;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto;
    }
  }

  &__video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: $zindex-sticky;
  }
}
  
.about {
  &__vid {
    background: transparent;
    aspect-ratio: 16 / 9;
    border-radius: 1.5rem;
    margin-bottom: 4rem;

    video {
      width: 100%;
      height: auto;
      border-radius: 0.75rem;
    }
  }

  &__text {
    text-align: center;
    max-width: 920px;
    margin: 0 auto;

    a {
      color: white;
      text-decoration: none;
    }

    p {
      font-size: 1.25rem;
      line-height: 1.4;
      margin-bottom: 3rem;

      @media (min-width: 768px) {
        font-size: 1.875rem;
      }
    }

    span {
      font-weight: bold;
      background-image: linear-gradient(90deg, #BE6CB6, #6298C7);
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }
}

.work {
  margin: 10rem 0;

  h2 {
    text-align: center;

    @media (min-width: 992px) {
      text-align: left;
    }
  }

  &__wrap {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }
  
    @media (min-width: 992px) {
      flex-direction: column;
    }
  }
}

.work__item {
  flex: 1;
  background: rgba(0, 0, 0, 0.25);

  @media (min-width: 992px) {
    display: flex;
    flex-direction: row;
  }

  & + & {
    @media (min-width: 768px) {
      border-left: 1px solid rgba(255, 255, 255, 0.15);
    }

    @media (min-width: 992px) {
      border-left: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
  }

  &__image, &__text {
    @media (min-width: 992px) {
      width: 50%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
    @media (min-width: 992px) {
      padding: 3rem;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    p {
      line-height: 1.5;
    }
  }

  &__image {
    img {
      width: 100%;
      height: 100%; 
      object-fit: cover; 
    }
  }
}

.logos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
  }

  img {
    max-width: 150px;
    
    @media (min-width: 1280px) {
      max-width: 180px;
    }
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);

    @media (max-width: 767px) {
      &:nth-child(odd) {
        border-left: 0;
      }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      &:nth-child(3n + 1) {
        border-left: 0;
      }
    }

    @media (min-width: 1200px) {
      &:nth-child(6n + 1) {
        border-left: 0;
      }
    }
  }
}
