.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background: transparent url(../images/bg-hero.jpg) center no-repeat;
  background-size: cover;
  z-index: $zindex-modal;

  /* Note: Should I darken the background? */
  // &:after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   background: black;
  //   opacity: 0.5;
  // }

  &__bg {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      /* Note: Does it look better centered? */
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 500ms;
      object-fit: cover;
    }

    img.fade-in {
      opacity: 1;
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background: transparent url(../images/bg-hero.jpg) center no-repeat;
    background-size: cover;
  
    mask-image: url(../images/mask.svg);
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background: transparent url(../images/bg-line.svg) center no-repeat;
    background-size: cover;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;

    .container {
      width: inherit;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .col {
      position: relative;
    }
  }

  &__menu {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 0.75rem;
    margin: 0 0 320px;
    list-style: none;
    font-size: 3rem;
    line-height: 1.125;
    max-width: 720px;

    @media (min-width: 992px) {
      line-height: 1.5;
      font-size: 3.5rem;
    }

    @media (min-width: 1200px) {
      font-size: 4rem;
      margin: 0 0 160px;
    }

    li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }

    li + li {
      margin-top: 3rem;
    }

    a {
      color: white;
      text-decoration: none;
      letter-spacing: -2px;
      transition: opacity 500ms;
    }
  }
}

.overlay__menu:has(a:hover) a:not(:hover) {
  opacity: 0.3;
}

.overlay__contact.footer__contact {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 160px;
  padding-left: 0.75rem;
  flex-direction: row;
  gap: 2.5rem;
  
  @media (min-width: 1200px) {
    width: 240px;
    left: unset;
    right: 0;
    bottom: 0;
    flex-direction: column;
  }

  li {
    text-align: left;
  }

  // li + li {
  //   @media (min-width: 1200px) {
  //     margin-top: 2rem;
  //   }
  // }
}

/* menu icon */
.menu__icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;

  span {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 14px;
    width: 32px;
    height: 4px;
    background-color: #fff;
    transition-property: background-color;
    transition-duration: 0s;
    transition-delay: 0.2s;

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      width: 32px;
      height: 4px;
      background-color: #fff;
      transition-property: margin, transform;
      transition-duration: 0.2s;
      transition-delay: 0.2s, 0s;
    }

    &:before {
      margin-top: -14px;

    }
    
    &:after {
      margin-top: 14px;
    }
  }
}

.menu__icon.active span {
  background-color: transparent;

  &:before {
    margin-top: 0;
    transform: rotate(45deg);
    transition-delay: 0s, 0.2s;
  }
  
  &:after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.2s;
  }
}
